@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");

.App {
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

.headNav {
  font-size: 20px;
  font-weight: 600;
}

.testTable {
  background-color: #e3e3e3;
  font-size: 20px;
  font-weight: 600;
}

.boxTitle,
.sumrTitle {
  font-size: 18px;
  font-weight: 600;
  border-bottom: 3px solid #34c646;
}

.interestCodeBox {
  border: 6px solid #34c646;
}

.boxTitle {
  border-bottom: 0;
}

.instCode {
  background-color: #ff9900;
  font-size: 18px;
}

.instaValue {
  font-size: 25px;
  background-color: #34c646;
}

.instTitle {
  font-size: 25px;
  font-weight: 600;
}

.instText {
  font-size: 16px;
  color: #000;
}
